
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

canvas {
  border: 2px solid #F0F0F0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); 
}